<h1>RESULTS PAGE</h1>

<% data["Search"].forEach(function(movie){ %>
    <li>
        <b><%=movie["Title"]%></b> - <%=movie["Year"]%> 
    </li>
<% }) %>


<br><br>
<a href="/">SEARCH ANOTHER MOVIE</a>